:local(.row) {
  margin-bottom: 2em;
}

:local(.eventNameBackground) {
  padding-top: 4em;
  height: 10em;
}

:local(.eventName) {
  height: 100%;
  color: white;
  text-align: center;
  vertical-align: middle !important;
}

:local(.featureRow) {
  padding: 15px 0;
  height: 110px;
}

/* Bootstrap's sm */
@media only screen and (max-width: 991px) {
  :local(.featureRow) {
    padding: 15px 0;
    height: 110px;
  }
}
